# Assignment

**steps**
- modify the pandas read method

- import the following columns (country, continent, population, active_cases, total_confirmed, total_deaths)

- Replace the null values with zero

- Change the datatype of active_cases column to integer

In [1]:
!pip install pandas s3fs

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting s3fs
  Downloading s3fs-2023.6.0-py3-none-any.whl (28 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Collecting aiobotocore~=2.5.0 (from s3fs)
  Downloading aiobotocore-2.5.4-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.4/73.4 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: fsspec==2023.6.0 in /usr/local/lib/python3.10/dist-packages (from s3fs) (2023.6.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.10/dist-packages (from s3fs) (3.8.5)
Collecting botocore<1.31.18,>=1.31.17 (from aiobotocore~=2.5.0->s3fs)
  Downloading botocore-1.31.17-py3-none-any.whl (11.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 51.0 MB/s eta 0:00:00
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /usr/local/lib/python3.10/dist-packages (from aiobotocore~=2.5.0->s3fs) (1.14.1)
Collecting aioitertools<1.0.0,>=0.5.1 (from aiobotocore~=2.5.0->s3fs)
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting jmespath<2.0.0,>=0.7.1 (from botocore<1.31.18,>=1.31.17->aiobotocore~=2.5.0->s3fs)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting urllib3<1.27,>=1.25.4 (from botocore<1.31.18,>=1.31.17->aiobotocore~=2.5.0->s3fs)
  Downloading urllib3-1.26.16-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.1/143.1 kB 13.6 MB/s eta 0:00:00
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.4)
Installing collected packages: urllib3, jmespath, aioitertools, botocore, aiobotocore, s3fs
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.4
    Uninstalling urllib3-2.0.4:
      Successfully uninstalled urllib3-2.0.4
Successfully installed aiobotocore-2.5.4 aioitertools-0.11.0 botocore-1.31.17 jmespath-1.0.1 s3fs-2023.6.0 urllib3-1.26.16

In [2]:
import pandas as pd

In [3]:
file_dir = "s3://d2b-academy-dbt-public/covid-country.csv"

In [7]:
df = pd.read_csv(file_dir, usecols=['country', 'continent', 'population', 'active_cases', 'total_confirmed', 'total_deaths'])
df

,country,continent,total_confirmed,total_deaths,active_cases,population
0,Afghanistan,Asia,179267,7690.0,9375.0,40560636
1,Albania,Europe,275574,3497.0,251.0,2871945
2,Algeria,Africa,265816,6875.0,80570.0,45325517
3,Andorra,Europe,42156,153.0,982.0,77495
4,Angola,Africa,99194,1900.0,145.0,34769277
...,...,...,...,...,...,...
221,Wallis And Futuna Islands,Australia/Oceania,454,7.0,9.0,10873
222,Western Sahara,Africa,10,1.0,0.0,624681
223,Yemen,Asia,11819,2149.0,661.0,31049015
224,Zambia,Africa,320591,3983.0,611.0,19342381
225,Zimbabwe,Africa,249206,5482.0,1307.0,15265849

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          226 non-null    object
 1   continent        226 non-null    object
 2   total_confirmed  226 non-null    int64
 3   total_deaths     218 non-null    float64
 4   active_cases     204 non-null    float64
 5   population       226 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 10.7+ KB

In [9]:
df.fillna(0,inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          226 non-null    object
 1   continent        226 non-null    object
 2   total_confirmed  226 non-null    int64
 3   total_deaths     226 non-null    float64
 4   active_cases     226 non-null    float64
 5   population       226 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 10.7+ KB

In [17]:
df= df.astype({"active_cases":"int"})

In [18]:
df

,country,continent,total_confirmed,total_deaths,active_cases,population
0,Afghanistan,Asia,179267,7690.0,9375,40560636
1,Albania,Europe,275574,3497.0,251,2871945
2,Algeria,Africa,265816,6875.0,80570,45325517
3,Andorra,Europe,42156,153.0,982,77495
4,Angola,Africa,99194,1900.0,145,34769277
...,...,...,...,...,...,...
221,Wallis And Futuna Islands,Australia/Oceania,454,7.0,9,10873
222,Western Sahara,Africa,10,1.0,0,624681
223,Yemen,Asia,11819,2149.0,661,31049015
224,Zambia,Africa,320591,3983.0,611,19342381
225,Zimbabwe,Africa,249206,5482.0,1307,15265849