In [1]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.19)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=37902401505f28a4524aecc4ef86a5ec01dd39770177cb3e07eaf94c694e0e6f
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [22]:
!pip install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.8.1)

In [2]:
from pandasql import sqldf
import pandas as pd

In [23]:
import duckdb

In [7]:
from google.colab import drive
drive.mount('mydrive/')

Mounted at mydrive/

In [10]:
file_path='/content/mydrive/MyDrive/employee_database.xlsx'

In [13]:
# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(file_path, sheet_name=None)
data={}
for sheet_name, sheet_df in all_sheets.items():
    print(f"Sheet name: {sheet_name}")
    data[sheet_name]=sheet_df

Sheet name: employee
Sheet name: department
Sheet name: location

In [14]:
data['employee'].head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,HIRE_DATE,JOB_ID,SALARY,DEPARTMENT_ID,RESIDENCY_ID
0,198,Donald,OConnell,DOCONNEL,2007-06-21,SH_CLERK,2600,50,1500
1,199,Douglas,Grant,DGRANT,2008-01-13,SH_CLERK,2600,50,1500
2,200,Jennifer,Whalen,JWHALEN,2003-09-17,AD_ASST,4400,10,1700
3,201,Michael,Hartstein,MHARTSTE,2004-02-17,MK_MAN,13000,20,1000
4,202,Pat,Fay,PFAY,2005-08-17,MK_REP,6000,20,1800

In [15]:
data['employee'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EMPLOYEE_ID    50 non-null     int64
 1   FIRST_NAME     50 non-null     object
 2   LAST_NAME      50 non-null     object
 3   EMAIL          50 non-null     object
 4   HIRE_DATE      50 non-null     datetime64[ns]
 5   JOB_ID         50 non-null     object
 6   SALARY         50 non-null     int64
 7   DEPARTMENT_ID  50 non-null     int64
 8   RESIDENCY_ID   50 non-null     int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 3.6+ KB

In [29]:
employee_df=data['employee']

In [16]:
data['department'].head()

   DEPARTMENT_ID  DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID
0             10   Administration       200.0         1700
1             20        Marketing       201.0         1800
2             30       Purchasing       114.0         1700
3             40  Human Resources       203.0         2400
4             50         Shipping       121.0         2000

In [17]:
data['department'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DEPARTMENT_ID    12 non-null     int64
 1   DEPARTMENT_NAME  12 non-null     object
 2   MANAGER_ID       11 non-null     float64
 3   LOCATION_ID      12 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 512.0+ bytes

In [30]:
department_df=data['department']

In [19]:
data['location'].head()

   LOCATION_ID LOCATION_NAME   STATE  COUNTRY
0         1700         Ikeja   Lagos  Nigeria
1         1800        Ibadan     Oyo  Nigeria
2         1900        Kaduna  Kaduna  Nigeria
3         2000            PH  Rivers  Nigeria
4         2400         Warri   Delta  Nigeria

In [20]:
data['location'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LOCATION_ID    12 non-null     int64
 1   LOCATION_NAME  12 non-null     object
 2   STATE          12 non-null     object
 3   COUNTRY        12 non-null     object
dtypes: int64(1), object(3)
memory usage: 512.0+ bytes

In [31]:
location_df=data['location']

###Qst 1
Number of remote workers in each department i.e. staff working outside their department location excluding shipping staff?

In [34]:
sqldf('select distinct JOB_ID from employee_df')

ObjectNotExecutableError: ignored

In [38]:
duckdb.sql("select distinct job_id from employee_df").df()

        JOB_ID
0     SH_CLERK
1      AD_ASST
2       MK_MAN
3       MK_REP
4       HR_REP
5       PR_REP
6       AC_MGR
7   AC_ACCOUNT
8      AD_PRES
9        AD_VP
10     IT_PROG
11      FI_MGR
12  FI_ACCOUNT
13      PU_MAN
14    PU_CLERK
15      ST_MAN
16    ST_CLERK

In [39]:
duckdb.sql("select distinct department_name from department_df").df()

     DEPARTMENT_NAME
0     Administration
1          Marketing
2         Purchasing
3    Human Resources
4           Shipping
5                 IT
6   Public Relations
7              Sales
8          Executive
9            Finance
10        Accounting
11  Senior_Executive

In [47]:
query="""
  SELECT
    department_name AS department, count(*) remote_worker
  FROM
    (
      SELECT
        em.*,
        de.department_name,
        de.location_id

      FROM employee_df em
      JOIN department_df de
        ON em.department_id = de.department_id
      WHERE
        de.location_id <> em.residency_id
        AND lower(de.department_name) <> 'shipping'
    )
  GROUP BY 1
"""
duckdb.sql(query).df()

         department  remote_worker
0         Marketing              1
1  Senior_Executive              1
2                IT              3
3        Purchasing              4

### Qst 2
Create a manager information dimension table

In [53]:
query_2 = """
  SELECT
    em.*,
    de.department_name,
    de.location_id AS department_location_id
  FROM department_df de
  JOIN employee_df em
    ON em.employee_id= de.manager_id
"""
manager_df=duckdb.sql(query_2).df()
manager_df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,HIRE_DATE,JOB_ID,SALARY,DEPARTMENT_ID,RESIDENCY_ID,DEPARTMENT_NAME,department_location_id
0,200,Jennifer,Whalen,JWHALEN,2003-09-17,AD_ASST,4400,10,1700,Administration,1700
1,201,Michael,Hartstein,MHARTSTE,2004-02-17,MK_MAN,13000,20,1000,Marketing,1800
2,203,Susan,Mavris,SMAVRIS,2002-06-07,HR_REP,6500,40,2400,Human Resources,2400
3,204,Hermann,Baer,HBAER,2002-06-07,PR_REP,10000,70,2700,Public Relations,2700
4,205,Shelley,Higgins,SHIGGINS,2002-06-07,AC_MGR,12008,110,1700,Accounting,1700
5,100,Steven,King,SKING,2003-06-17,AD_PRES,24000,0,3000,Executive,1700
6,103,Alexander,Hunold,AHUNOLD,2006-01-03,IT_PROG,9000,60,1700,IT,1400
7,108,Nancy,Greenberg,NGREENBE,2002-08-17,FI_MGR,12008,100,1700,Finance,1700
8,114,Den,Raphaely,DRAPHEAL,2002-12-07,PU_MAN,11000,30,1800,Purchasing,1700
9,121,Adam,Fripp,AFRIPP,2005-04-10,ST_MAN,8200,50,1900,Shipping,2000

### Qst 3
Number of workers earning above the average salary in the organization

In [54]:
query_3 = """
  SELECT
    count(*) high_earned_workers
  FROM employee_df
  WHERE salary >
    (SELECT AVG(salary) FROM employee_df)
"""
duckdb.sql(query_3).df()

   high_earned_workers
0                   20

### Qst 4
Create a new column in the employee table categorizing staff as either early hire or late based on the hire date i.e. if the hire date is greater or equal to the average hire date in the organization that should be late hire else early hire as this will assist in shares distribution

In [95]:
query_4 = """
  SELECT
    ROUND(date_diff('day', MIN(hire_date), MAX(hire_date))/2) AS days,
    MIN(hire_date) minimum_hire_date,
    MAX(hire_date) maximum_hire_date,
  FROM employee_df
"""
duckdb.sql(query_4).df()

     days min(hire_date) max(hire_date)
0  1306.0     2001-01-13     2008-03-08

In [97]:
avg_hire_date = employee_df['HIRE_DATE'].mean()

In [100]:
avg_hire_date.date()

2005-06-03

In [106]:
query_4 = f"""
  SELECT  *,
  CASE
    WHEN hire_date >= '{avg_hire_date.date()}' THEN 'LATE HIRED'
    ELSE 'EARLY HIRED'
  END AS hire_type
  FROM employee_df

"""
employee_extended=duckdb.sql(query_4).df()
employee_extended

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,HIRE_DATE,JOB_ID,SALARY,DEPARTMENT_ID,RESIDENCY_ID,hire_type
0,198,Donald,OConnell,DOCONNEL,2007-06-21,SH_CLERK,2600,50,1500,LATE HIRED
1,199,Douglas,Grant,DGRANT,2008-01-13,SH_CLERK,2600,50,1500,LATE HIRED
2,200,Jennifer,Whalen,JWHALEN,2003-09-17,AD_ASST,4400,10,1700,EARLY HIRED
3,201,Michael,Hartstein,MHARTSTE,2004-02-17,MK_MAN,13000,20,1000,EARLY HIRED
4,202,Pat,Fay,PFAY,2005-08-17,MK_REP,6000,20,1800,LATE HIRED
5,203,Susan,Mavris,SMAVRIS,2002-06-07,HR_REP,6500,40,2400,EARLY HIRED
6,204,Hermann,Baer,HBAER,2002-06-07,PR_REP,10000,70,2700,EARLY HIRED
7,205,Shelley,Higgins,SHIGGINS,2002-06-07,AC_MGR,12008,110,1700,EARLY HIRED
8,206,William,Gietz,WGIETZ,2002-06-07,AC_ACCOUNT,8300,110,1700,EARLY HIRED
9,100,Steven,King,SKING,2003-06-17,AD_PRES,24000,0,3000,EARLY HIRED
10,101,Neena,Kochhar,NKOCHHAR,2005-09-21,AD_VP,17000,90,1700,LATE HIRED
11,102,Lex,De Haan,LDEHAAN,2001-01-13,AD_VP,17000,90,1700,EARLY HIRED
12,103,Alexander,Hunold,AHUNOLD,2006-01-03,IT_PROG,9000,60,1700,LATE HIRED
13,104,Bruce,Ernst,BERNST,2007-05-21,IT_PROG,6000,60,1400,LATE HIRED
14,105,David,Austin,DAUSTIN,2005-06-25,IT_PROG,4800,60,1800,LATE HIRED
15,106,Valli,Pataballa,VPATABAL,2006-02-05,IT_PROG,4800,60,2000,LATE HIRED
16,107,Diana,Lorentz,DLORENTZ,2007-02-07,IT_PROG,4200,60,1400,LATE HIRED
17,108,Nancy,Greenberg,NGREENBE,2002-08-17,FI_MGR,12008,100,1700,EARLY HIRED
18,109,Daniel,Faviet,DFAVIET,2002-08-16,FI_ACCOUNT,9000,100,1700,EARLY HIRED
19,110,John,Chen,JCHEN,2005-09-28,FI_ACCOUNT,8200,100,1700,LATE HIRED
20,111,Ismael,Sciarra,ISCIARRA,2005-09-30,FI_ACCOUNT,7700,100,1700,LATE HIRED
21,112,Jose Manuel,Urman,JMURMAN,2006-03-07,FI_ACCOUNT,7800,100,1700,LATE HIRED
22,113,Luis,Popp,LPOPP,2007-12-07,FI_ACCOUNT,6900,100,1700,LATE HIRED
23,114,Den,Raphaely,DRAPHEAL,2002-12-07,PU_MAN,11000,30,1800,EARLY HIRED
24,115,Alexander,Khoo,AKHOO,2003-05-18,PU_CLERK,3100,30,1900,EARLY HIRED
25,116,Shelli,Baida,SBAIDA,2005-12-24,PU_CLERK,2900,30,1700,LATE HIRED
26,117,Sigal,Tobias,STOBIAS,2005-07-24,PU_CLERK,2800,30,1800,LATE HIRED
27,118,Guy,Himuro,GHIMURO,2006-11-15,PU_CLERK,2600,30,1700,LATE HIRED
28,119,Karen,Colmenares,KCOLMENA,2007-08-10,PU_CLERK,2500,30,1200,LATE HIRED
29,120,Matthew,Weiss,MWEISS,2004-07-18,ST_MAN,8000,50,1900,EARLY HIRED
30,121,Adam,Fripp,AFRIPP,2005-04-10,ST_MAN,8200,50,1900,EARLY HIRED
31,122,Payam,Kaufling,PKAUFLIN,2003-05-01,ST_MAN,7900,50,1900,EARLY HIRED
32,123,Shanta,Vollman,SVOLLMAN,2005-10-10,ST_MAN,6500,50,2400,LATE HIRED
33,124,Kevin,Mourgos,KMOURGOS,2007-11-16,ST_MAN,5800,50,2400,LATE HIRED
34,125,Julia,Nayer,JNAYER,2005-07-16,ST_CLERK,3200,50,2400,LATE HIRED
35,126,Irene,Mikkilineni,IMIKKILI,2006-09-28,ST_CLERK,2700,50,2400,LATE HIRED
36,127,James,Landry,JLANDRY,2007-01-14,ST_CLERK,2400,50,2400,LATE HIRED
37,128,Steven,Markle,SMARKLE,2008-03-08,ST_CLERK,2200,50,2400,LATE HIRED
38,129,Laura,Bissot,LBISSOT,2005-08-20,ST_CLERK,3300,50,2400,LATE HIRED
39,130,Mozhe,Atkinson,MATKINSO,2005-10-30,ST_CLERK,2800,50,2400,LATE HIRED
40,131,James,Marlow,JAMRLOW,2005-02-16,ST_CLERK,2500,50,2400,EARLY HIRED
41,132,TJ,Olson,TJOLSON,2007-04-10,ST_CLERK,2100,50,2400,LATE HIRED
42,133,Jason,Mallin,JMALLIN,2004-06-14,ST_CLERK,3300,50,1900,EARLY HIRED
43,134,Michael,Rogers,MROGERS,2006-08-26,ST_CLERK,2900,50,1900,LATE HIRED
44,135,Ki,Gee,KGEE,2007-12-12,ST_CLERK,2400,50,1900,LATE HIRED
45,136,Hazel,Philtanker,HPHILTAN,2008-02-06,ST_CLERK,2200,50,1900,LATE HIRED
46,137,Renske,Ladwig,RLADWIG,2003-07-14,ST_CLERK,3600,50,1900,EARLY HIRED
47,138,Stephen,Stiles,SSTILES,2005-10-26,ST_CLERK,3200,50,1900,LATE HIRED
48,139,John,Seo,JSEO,2006-02-12,ST_CLERK,2700,50,1900,LATE HIRED
49,140,Joshua,Patel,JPATEL,2006-04-06,ST_CLERK,2500,50,1900,LATE HIRED